{% extends "_base.html" %}

{% block content %}
<div class="deck-container hidden">
    {% for slide in slides %}
    <section class="slide{% if slide.class %} {{ slide.class }}{% endif %}" {% if slide.background_image %}data-background-image="{{ slide.background_image }}"{% endif %}>
        <div class="slide-inner">
            {% if slide.content %}
            {% if slide.file %}
            {{ render_file('slides/{0}.md'.format(slide.content))|markdown }}
            {% else %}
            {{ slide.content|markdown }}
            {% endif %}
            {% endif %}
        </div>

        {% if slide.image_attribution %}
        <div class="attribution">
          Photo from {% if slide.image_source %}<a href="{{ slide.image_source }}">{{ slide.image_attribution }}</a>{% else %}{{ slide.image_attribution }}{% endif %}
        </div>
        {% endif %}
    </section>
    {% endfor %}
</div>
{% endblock %}

